@import "./component.scss", "./font.scss", "./layout.scss", "./main.scss",
  "./mixin.scss", "./reset.scss", "./variable.scss";
/*, "./p01.scss", "./p03.scss", "./p04.scss", "./p05.scss",*/

/*접근성 기본설정*/
a {
  color: black;
  text-decoration: none;
}

.wrap {
  height: 100vh;
  box-sizing: border-box;
  &.main {
    background: #000;
  }
}
.container {
  overflow-y: auto;
}
.hidden {
  width: 1px;
  height: 1px;
  font-size: 0px;
  line-height: 0px;
  position: absolute;
}
::-webkit-scrollbar {
  display: none;
}
.skipMenu_list {
  li {
    a {
      &:focus {
        width: 100%;
        height: 30px;
        background: black;
        color: white;
        font-size: 10px;
        line-height: 30px;
        text-align: center;
        z-index: 9999;
        left: 0px;
        top: 0px;
      }
    }
  }
}
// .main {
//   &.mainBg {
//     .flex-fix {
//       animation: lodingBg 3.5s;
//     }
//   }
// }
.flex-column {
  display: flex;
  flex-direction: column;
  // &.show_blue{
  //     background: $point-color;
  // }
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex_1 {
  flex: 1;
}
.space-between {
  justify-content: space-between;
}
.align-items-center {
  align-items: center;
}
.border-center::after {
  content: "";
  position: absolute;
  display: block;
  width: 3px;
  height: 85%;
  left: 50%;
  top: 15%;
  background: $point-color;
  transform: translateX(-50%);
}
// @keyframes lodingBg {
//   0% {
//     background: $point-color;
//     transition: background-color 1.5s linear 0s;
//   }
//   50% {
//     background: $point-color;
//     transition: background-color 1.5s linear 0s;
//   }
//   100% {
//     background: rgba(38, 73, 141, 0);
//     transition: background-color 1s linear 0s;
//     visibility: hidden;
//   }
// }
//width

.w100 {
  width: 100%;
}
/*padding,margin*/
.pTB20 {
  padding: 20px 0px;
}
.pTB50 {
  padding: 50px 0px;
  box-sizing: border-box;
}
.pTB24 {
  padding: 24px;
  box-sizing: border-box;
}
.pLR40 {
  padding: 0px 40px;
  box-sizing: border-box;
}
.pT20 {
  padding-top: 20px;
}
.pT50 {
  padding-top: 50px;
}
.pT80 {
  padding-top: 80px;
}
.pB10 {
  padding-bottom: 10px;
}
.pB22 {
  padding-bottom: 22px;
}
.pB25 {
  padding-bottom: 25px;
}
.pB50 {
  padding-bottom: 50px;
}
.mT10 {
  margin-top: 10px;
}
.mT20 {
  margin-top: 20px;
}
.mT30 {
  margin-top: 30px;
}
/*gap*/
.gap5 {
  gap: 5px;
}
.gap10 {
  gap: 10px;
}
.gap20 {
  gap: 20px;
}
.gap30 {
  gap: 30px;
}
.gap40 {
  gap: 40px;
}
.gap100 {
  gap: 100px;
}

/* text , font*/
.textLeft {
  text-align: left;
}
.textRight {
  text-align: right;
}
.textCenter {
  text-align: center;
}
.fontItalic {
  font-style: italic;
}
.fontSize22 {
  line-height: normal;
  font-size: 22px;
  word-break: break-all !important;
}
//grid로 중앙 정렬{
.gridCenter {
  display: grid;
  place-items: center;
}

//border
.bB {
  border-bottom: solid 1px black;
}
.bBBold {
  border-width: 3px;
}
/*상단영역 시작*/

.header_sub {
  border-bottom: 0px;
  padding-top: 50px;
  .nav {
    li {
      border: none;
    }
  }
}
.header_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  .txtBox {
    width: 100%;
    display: flex;
    justify-content: center;
    p {
      font-size: 20px;
      padding: 0px 10px;
      line-height: 18px;
      letter-spacing: normal;
    }
    p + * {
      border-left: solid 2px black;
    }
  }
  // &::after {
  //   content: "";
  //   position: absolute;
  //   display: block;
  //   width: 3px;
  //   height: 85%;
  //   left: 50%;
  //   top: 15%;
  //   background: $point-color;
  //   transform: translateX(-50%);
  // }
  .left {
    flex: 1;
    .textBox {
      word-break: break-all;
    }
  }
  .imgBox {
    width: 150px;
    float: left;
    shape-margin: 5px;
    margin: 5px;
    shape-outside: circle(50%);
    img {
      width: 100%;
      height: 100%;
    }
  }
  .right {
    flex: 1;
    .list {
      display: flex;

      .title {
        font-size: 18px !important;
        line-height: 26px;
        letter-spacing: 0.4px;
        padding-right: 10px;
      }
    }
  }
  .btnBox {
    padding: 30px 78px 20px 78px;
    box-sizing: border-box;
    transition: 0.3s ease;
    &:hover {
      transition: 0.3s ease;
      color: $point-color;
    }
  }
  .btnBox_v2 {
    gap: 7px;
  }
}
.nav_wrap {
  box-sizing: border-box;
}
.nav {
  display: flex;
  align-items: center;
  li {
    flex: 1;
    padding: 15px 0px;
    box-sizing: border-box;
  }
  .text {
    text-align: center;
    display: inline-block;
    width: 100%;
    height: 100%;
  }
}
.contents {
  &.footer {
    .text {
      text-align: center;
    }
  }
}

//resume 영역
.overview,
.language,
.skills,
.teach,
.commu,
.design,
.oa,
.card {
  position: relative;

  &::after {
    height: 100%;
    top: 0px;
  }
}
.resume > *,
.resume_detail > * {
  margin-top: 40px;
}
.language > * {
  margin-top: 10px;
}

//resume detail 영역
.resume_detail {
  .title {
    margin-top: 0px;
  }
}
.card {
  gap: 40px;
  .left {
    width: 30%;

    .title {
      min-height: 200px;
    }
  }
  .right {
    width: 70%;
  }

  &::after {
    left: calc(30% + 9px);
  }
}
