.container {
  &.index {
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
    position: relative;
  }
}

.container > * + * {
  margin-top: 40px;
}

// .contents {
//   &.index {
//     + * {
//       border-top: solid 1px $border-color;
//     }
//   }
// }

.btnBox.contact {
  text-align: center;

  .text.text_v3 {
    font-weight: lighter;
  }
  .btn {
    transition: 0.3s ease;
    &:hover {
      color: $point-color;
      transition: 0.3s ease-in;
    }
  }
}
.nav {
  .btn {
    position: relative;
    left: 0px;
    top: 0px;
    &:hover {
      color: $point-color;
      // .hover-indicator {
      //   stroke-dashoffset: 0;
      //   opacity: 1;
      //   transition: stroke-dashoffset 0.4s ease-in, opacity 0s;
      //   transition-delay: 0.4s;
      // }
    }
    &.active {
      color: #26498d;
      .hover-indicator {
        stroke-dashoffset: 0;
        opacity: 1;
        transition: stroke-dashoffset 0.4s ease-in, opacity 0s;
        // transition-delay: 0.4s;
      }
    }
    &.off {
      .hover-indicator {
        opacity: 0;
      }
    }
    &:active {
      stroke-dashoffset: 0;
      opacity: 1;
      transition: stroke-dashoffset 0.4s ease-in, opacity 0s;
      // transition-delay: 0.4s;
    }
    &:visited {
      stroke-dashoffset: 0;
      opacity: 1;
      transition: stroke-dashoffset 0.4s ease-in, opacity 0s;
      // transition-delay: 0.4s;
    }
  }
}
.hover-indicator {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  // mix-blend-mode: multiply;
  stroke-dasharray: 943px;
  stroke-dashoffset: 943px;
  transition: stroke-dashoffset 0.6s, opacity 0.1s ease-out;
  opacity: 0;
  transition-delay: 0s;
  will-change: stroke-dashoffset;

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &.circle-1 {
      width: 15rem;
      transform: translate(-45%, -50%);
    }
    &.circle-2 {
      width: 15rem;
      transform: translate(-45%, -50%);
    }
    &.circle-3 {
      width: 13rem;
      transform: translate(-45%, -50%);
    }
    &.circle-4 {
      width: 20rem;
      transform: translate(-45%, -50%);
    }
  }

  .hover-path {
    transition: opacity 0.3s;
  }
}
.imgBox {
  .phone,
  .hand {
    filter: brightness(90%) grayscale(100%) contrast(130%);
    transition: filter 0.9s;
    -webkit-user-drag: none;
    user-drag: none;

    &:hover {
      filter: brightness(100%) grayscale(0) contrast(100%);
    }
  }
}
.contents.contact {
  .title {
    text-align: left;
  }
  .textWrap {
    justify-content: space-between;
  }
}
.portfolios {
  display: none;
}
.portfolios {
  &.active {
    display: block;
  }
}
.swiper-slide {
  background-color: transparent;
}
.swiper-backface-hidden {
  .swiper-slide {
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.gif {
  .animated {
    display: none;
  }
  &:hover {
    .animated {
      display: inline;
    }
    .static {
      display: none;
    }
  }
}

@media screen and (max-width: 1066px) {
  .title {
    font-size: 55px;

    &_small_v1 {
      font-size: 28px;
    }
    &_small_v2 {
      font-size: 18px;
    }
  }
}
@media screen and (max-width: 967px) {
  .textWrap {
    flex-direction: column;
  }
}
@media screen and (max-width: 890px) {
  .title {
    font-size: 47px;

    &_small_v1 {
      font-size: 28px;
    }
    &_small_v2 {
      font-size: 18px;
    }
  }
  .titleBox {
    flex-direction: column;
  }
  .contents {
    &.index {
      .textWrap {
        gap: 50px;
      }
    }
  }
}
@media screen and (max-width: 815px) {
  .itemBox {
    &_v1 {
      .item {
        &_v1 {
          width: 250px;
          height: 250px;
        }
      }
    }
    &_v2 {
      flex-direction: column;
      .item {
        &_v2 {
          min-height: auto;
        }
      }
    }
  }
}
